.card-container {
  width: 50%;
  border-radius: 10px;
  max-width: 1400px;
}

.card-container * {
  font-family: "Fraunces", serif;
}

.img-size {
  height: 100%;
  width: auto;
  display: block;
}

.title-product {
  text-transform: uppercase;
}

@media (min-width: 500px) and (max-width: 899px) {
  .card-container {
    width: 70%;
  }
  .img-size {
    max-height: 280px;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .img-size {
    max-height: 250px;
  }

  .card-container {
    width: 80%;
  }

  .card-container * {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 400px) {
  .img-size {
    max-height: 200px;
  }

  .card-container {
    width: 80%;
  }

  .card-container * {
    font-size: 1rem !important;
  }
}

.price-card {
  font-size: 2rem;
  color: green;
}

.button-card {
  width: 80%;
  background-color: rgb(88, 128, 105) !important;
  color: white !important;
  border-radius: 10px !important;
  max-width: 300px;
  height: 50px;
}

.button-card:hover {
  background-color: rgb(45, 66, 53) !important;
}

.action-card {
  display: flex;
  justify-content: center;
}
